*{
  margin: 0;
  padding: 0;
  user-select: none;
}

/* $desktop: 1200px;
$laptop: 992px;
$tablet: 768px;
$phone: 480px; */


h2 {
  color: black;
  font-family: astoria-sans, sans-serif;
  font-weight: 800;
  font-style: normal;
}


h3 a{
  color: black;
  font-family: astoria-sans, sans-serif;
  font-weight: 800;
  font-style: normal;
  position: fixed;
  margin: 3% 7%;
  font-size: 35px;
  text-decoration: none;
}

h4 a{
  color: black;
  font-family: astoria-sans, sans-serif;
  font-weight: 800;
  font-style: normal;
  position: fixed;
  margin: 3% 7%;
  font-size: 25px;
  text-decoration: none;
}

nav ul{
  text-align: center;
}

nav ul li{
  display: inline-block;
}

ul li a{
  text-decoration: none;
  color: black;
  font-family: astoria-sans, sans-serif;
  font-weight: 800;
  font-style: normal;
  margin: 50px;
  font-size:200%;
}


img.head {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 600px;
   height: 600px;
   margin-top: -350px; /* Half the height */
   margin-left: -300px; /* Half the width */
   user-select: none;
   
}



.headeyes img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  margin-top: -350px; /* Half the height */
  margin-left: -300px; /* Half the width */
  user-select: none;
  display: none;
  
}


nav {
  overflow: hidden;
  position: absolute;
  bottom: 5%;
  width: 100%;
}

.eyes{
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.eye{
  width: 80px;
  height: 110px;
  background: black;
  display: inline-block;
  margin: 35px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.ball{
  width: 40px;
  height: 40px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-65%, -85%);
  border-radius: 50%
}


.pos{
  position: absolute;
  top: 100%;
  height: 100%;
  width: 100%;
 
}


.dot {
  height: 25PX;
  width: 25px;
  top: 2%;
  right: 40px;;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  clear: both;
  
}

.dot2 {
  height: 25PX;
  width: 25px;
  top: 3%;
  right: 40px;;
  background-color:white;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  clear: both;
  
}

.aboutme a{
  text-dexcoration: none;
  color: #7dc353;
  font-family: astoria-sans, sans-serif;
  font-weight: 800;
  left: 80px;
  font-size: 15pt;
}

.projbutton{
  font-size: 15pt;
  position: absolute;
  bottom: 10%;
  right: 80px;
  
}

.projbutton h2 a{
  text-decoration: none;
  color: #7dc353;
  
}

.projbutton a:hover{
  color: #308300;
  transition:all 0.3s ease;
}

.aboutme a:hover{
  color: #308300;
  transition:all 0.3s ease;
}

a:hover{
  color: #7dc353;
  transition:all 0.3s ease;
}

 

.figure {
  position: absolute;
  height: 90%;
  width: 100%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}



.description{
  position: absolute;
  top: 20%;
  bottom: 20%;
  width: 50%;
  text-align: center;
  
}



.description p{
  font-family: astoria-sans,sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18pt;
  width: 80%;
  position: relative;
  left: 20%;
  margin-bottom: 8%;
}



.aboutimages{
  width: 40%;
}

.aboutimages img{
  position: absolute;
  width: 25%;
  height: auto;
  top: 20%;
  right: 12.5%;
  

 
}



.contactme h5 a{
  text-decoration: none;
  position: absolute;
  bottom: 5%;
  text-align: center;
  color: black;
  font-family: astoria-sans, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size:200%;
  left: 46%;
}

.contactme h5 a:hover{
  color: #7dc353;
  transition:all 0.3s ease;
}

.aboutme p{
  font-family: astoria-sans, sans-serif;
  font-weight: 800;
  font-size: 15pt;
  
}

.aboutme {
  position: absolute;
  left: 7%;
  bottom: 5%;
  font-size: 21pt;
  width: 50%;
}

.marquee {
  font-family: astoria-sans, sans-serif;
  font-weight: 800;
  font-size: 250pt;
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 400px;
  overflow-x: hidden;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.test{
  position: absolute;
  top: 0%;
  height: 100%;
  width: 100%;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 5s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

.projtext h5{
  position: absolute;
  bottom: 5%;
  color: black;
  font-family: astoria-sans, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size:200%;
  left: 46%;
}

.projtext1 h5{
  position: fixed;
  bottom: 5%;
  color: black;
  font-family: astoria-sans, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size:200%;
  left: 46%;
}



.p1 img{
  position: absolute;
  width: 50%;
  right: 5%;
  top: 200px;
  height: auto;
}

.p2 img{
  position: absolute;
  width: 30%;
  left: 5%;
  top: 50%;
  height: auto;
}

.headp1 img{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  margin-top: -350px; /* Half the height */
  margin-left: -300px; /* Half the width */
  user-select: none;

}

.webdesign h5{
  position: fixed;
  bottom: 5%;
  color: black;
  font-family: astoria-sans, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size:200%;
  left: 42%;
}

.sections{
  position: absolute;
  top: 100%;
  height: 100%;
  background-color: black;
}


.marqueehe {
  font-family: astoria-sans, sans-serif;
  font-weight: 800;
  font-size: 250pt;
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 400px;
  overflow-x: hidden;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.trackhe {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 147s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

.heading{
  position: absolute;
  top: 0%;
  height: 100%;
  width: 100%;
}

.pic2 img{
  position: absolute;
  width: 100%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.navigation{
  position: absolute;
  top: 100%;
  height: 100%;
  width: 100%;
  background-color: black;
}

.goal{
  position: absolute;
  top: 200%;
  height: 100%;
  width: 100%;
}

.goal img{
  position: relative;
  width: 80%;
  left: 10%;
  padding: 20pt 0pt;
}

.goal h6{
  position: relative;
  font-family: astoria-sans, sans-serif;
  font-weight: 800;
  width: 50%;
  left: 25%;
  text-align: center;
  font-size: 200%;
  margin: 50px 0px;
}

.goal h3{
  position: relative;
  font-family: astoria-sans, sans-serif;
  font-weight: 800;
  font-size: 200%;
  margin: 50px 0px;
  text-align: center;
  width: 50%;
  left: 25%;
  color: #7dc353;
}

.goal p{
  position: relative;
  font-family: astoria-sans, sans-serif;
  font-weight: 600;
  width: 50%;
  left: 25%;
  text-align: center;
  font-size: 150%;
  margin: 0px;
}

.marqueepr {
  font-family: astoria-sans, sans-serif;
  font-weight: 800;
  font-size: 250pt;
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 400px;
  overflow-x: hidden;
  top: 50%;
  color: white;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.trackpr {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 150s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

.navigation ul li a{
  text-decoration: none;
  color: white;
  font-family: astoria-sans, sans-serif;
  font-weight: 800;
  font-style: normal;
  margin: 50px;
  font-size:200%;
}

.navigation a:hover{
  color: #7dc353;
  transition:all 0.3s ease;
}

.menu ul{
  position: absolute;
  top: 10%;
  color: black;
  font-family: astoria-sans, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 700%;
  text-decoration: none;
}

.menu ul li a{
  color: white;
  text-decoration: none;
}

.menu a:hover{
  color: #7dc353;
  transition:all 0.3s ease;
}

.goal h6 a{
  color: #7dc353;
}







@media (max-width: 1024px) {
  .aboutimages{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 50%;
  }

  .aboutimages img{
    position: absolute;
    width: 50%;
    height: auto;
    top: 15%;
    right: 25%;
   
    
    
  }
  
  .description{
    top: 50%;
    width: 100%;
    
  }

  .description p{
    left: 10%;
    top: 30%;
    bottom: 10%;
    font-size: 3vw;
  }

  .p1 img{
    right: 5%;
    width: 90%;
  }

  

  .marqueehe{
    top: 30%;
  }
  
  
  .navigation nav{
    bottom: 12%;
  }

  .heading .marqueehe{
    top: 50%;
  }

  .eyes{
    transform: translateY(-30%);
  }

  .head img{
    display: none;
  }

  .headeyes img{
    display: block;
  }
  .eyes .eye .ball{
    background-color: transparent;
  }

  .eyes .eye{
    background-color: transparent;
    opacity: 1;
  }

  .p2 img{
    top: 800px;
    width: 90%;
    left: 5%;
  }

  
}





